$color-theme: #B8D
.App
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  width: 100vw
  height: 100vh
  &__images
    display: flex
    align-items: center
    &-plus
      font-size: 30px
    &-img
      width: 100px
      margin: 0 10px
      @media (max-width: 480px)
        width: 75px
  &__hello
    color: $color-theme
    font-family: monospace
    font-size: 35px
    @media (max-width: 767px)
        font-size: 30px
  &__paragraph
    max-width: 530px
    margin: 10px 20px
    font-size: 18px
    font-family: monospace
    color: darken($color-theme, 30%)